body{
	padding: 0;
	margin: 0;
}
.main{
	width: 400px;
	background: #F9FAFE;
}
.inl_bl_title{
	display: block;
}
#STT_title{
	color: #362D64;
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
}
#version{
	color: #362D64;
	font-size: 10px;
	margin-left: 5px;
}
#ym{
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	border-radius: 50%;
	width: 14px;
	height: 14px;
}
#star{
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	border-radius: 50%;
	width: 14px;
	height: 14px;
}
.hover_orange:hover{
	-webkit-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    transition: background 200ms linear;
	background: #FF6800;
}
.hover_orange:active{
	background: #1a00ff;
	
}
#line_panel{
	width: 100%;
	
}
#line_input{
	width: 100%;
	padding: 6.5px;
	padding-bottom: 1.9px;
	/*height: 66px;*/
	background-image: url("line_b.png");
}
.in_field{
	width: 80%;
	height: 18px;
	border: 1px solid grey;
	color: #020202;
	border-radius: 3px;
	padding-left: 8px;
	margin: 2px;
}
.ctrl_btn{
	border-radius: 50%;
	background: linear-gradient(to right,#2ADC9B,#29CACA);
}
.grn_grad{
	background: linear-gradient(to right,#934CE8,#43ADFB);
}
.inl_bl_btn{
	width: 80%;
	padding-top: 1px;
	margin: auto;
	text-align: center;
}
.line-sum{
	width:90%;
	border-radius: 0 11px 11px 0;
	padding: 3px;
	background: linear-gradient(to right,#934CE8,#43ADFB);
}
.line-adv{
	width:50%;
	border-radius: 0 11px 11px 0;
	padding: 3px;
	background: linear-gradient(to right,#9751E8,#6D75EF);
	text-align: center;
	border: 0;
}
#sum-task{
	width: 30px;
	text-align: center;
	border-radius: 8px;
	border: 0;
	margin-right: 10px;
}
#sum-time{
	width: 64px;
	text-align: center;
	border-radius: 8px;
	border: 0;
}
.f-width{
	width: 100%;
	text-align: center;
	display: none;
}
.colorA{
	background: #F9FAFE;
}
.colorB{
	background: #FCE05F;
}
.colorC{
	background: #F57E23;
}
.colorD{
	background: #8DCC66;
}
.colorE{
	background: #776ABA;
}
.colorF{
	background: #2EAAE3;
}
.notes_div{
	border-radius: 11px;
	border: 4px solid #6D75EF;
	padding: 5px;
	
}
.notes_div>img{
	vertical-align: middle;
}
.line{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #6D75EF;
}
.inl-bl-task{
	display: inline-block;
	width: 60%;
	vertical-align: top;
}
.inl-bl-timer{
	display: inline-block;
	width: 15%;
	vertical-align: top;
}
.inl-bl-btn{
	display: inline-block;
	width: 22%;
	vertical-align: top;
	text-align: center;
}
.field_label_p{
	width: 100%;
	border: 0;
	color: white; 
	border-radius: 0 8px 8px 0;
	background: linear-gradient(to right,#9751E8,#6D75EF);
}
.field_label_t{
	width: 98%;
	border: 1px solid grey;
	color: #020202; 
	margin: 1px;
	border-radius: 3px;
	background: white;
}
.link{
	width: 80%;
	border: 0;
	color: white; 
	border-radius: 0 8px 8px 0;
	background: linear-gradient(to right,#3B68E6,#47B4FF);
	vertical-align: top;
}
.field_label_tmr{
	width: 64px;
	border: 0px;
	color: white;
	background: linear-gradient(to right,#3B68E6,#47B4FF);
	border-radius: 8px;
	text-align: center;
}
.reset{
	border: 0;
	color: white;
	background: linear-gradient(to right,#2ADC9B,#29CACA);
	border-radius: 8px;
	text-align: center;
	padding: 0 3px 0 3px;
	text-decoration: none;
}
.pro{
	border: 0;
	color: white;
	background: linear-gradient(to right,#a5b5c5,#a2a3a5);
	border-radius: 8px;
	text-align: center;
	padding: 0 3px 0 3px;
	text-decoration: none;
}
.ctrl_btn_task{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #2ADC9B;
	background: white;
}
.ctrl_btn_color{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #2ADC9B;
}
/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes example {
    0%   {background: linear-gradient(to right,#3B68E6,#47B4FF);}
    25%   {background: linear-gradient(to right,#665bc0,#709fd2);}
    50%   {background: linear-gradient(to right,#934e97,#9e89a2);}
    75%   {background: linear-gradient(to right,#c43e6c,#cd706d);}
    100% {background: linear-gradient(to right,#eb3349,#f45c43);}
}*/
@-webkit-keyframes example {
    0%   {background: #EB9D33;}
    100% {background: #eb3349;}
}
/* Standard syntax */
@keyframes example {
    0%   {background: #EB9D33;}
    100% {background: #eb3349;}
}
.blink{
	animation-name: example;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.copy{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 17px;
}
.btn-link{
	border-radius: 50%;
	width: 16px;
	height: 16px;
	background: linear-gradient(to right,#2ADC9B,#29CACA);
}
.pbbox{
	width: 100%;
	height: 8px;
	vertical-align: top;
	margin-bottom: 3px;
}
.pbbody{
	height: 8px;
	border-radius: 0 4px 4px 0;
}
.footer{
	padding: 3px;
}
